<footer class="site-footer bg-branddark py-1">
  <h2 class="sr">Give the footer a heading</h2>

  <div class="main-wrap mx-auto wrapper-x pb-1 co-gainsboro">
    <div class="d-flx j-c-sb al-i-c fw-w">
      <div class="d-flx al-i-c pt-1">
        <a href="{{ site.url }}/terms-of-use">Terms of Use</a>
        <span class="suffix is-even-wider prefix">
          |
        </span>
        <a href="{{ site.url }}/privacy-policy">Privacy Policy</a>
      </div>
      <p class="nanotext pt-1">
        <a href="{{ site.url }}/copyright" class="co-richblack nanotext">Copyright</a> &copy; <span
          class="year"></span>. ARQ Development Corp. All rights reserved.
      </p>
    </div>
  </div>
</footer>

<script>

  var now = new Date();
  var options = {
    year: 'numeric'
  };

  var date = now.toLocaleString('en-us', options);
  var year = document.querySelector(".year");

  year.innerHTML = date;

</script>