<section class="bg-primary">
  <div class="background pos-a fixed-to-top h-100 z-depth-1">
    <img src="{{ site.url }}/uploads/wind-turbine.png" class="h-100" alt="" />
    <div class="dark-cover">

    </div>
  </div>
  <div
    class="main-wrap min-height-100-vh wrapper-y pos-r z-depth-2 will-grow d-flx flex-dir-col al-i-fs j-c-c wrapper-x mx-auto">
    <div class="">
      <h1 class="mt-0 co-white fw-bold">
        ARQ Development Corp, LLC
      </h1>
      <p class="maxwidth-sm co-white py-1 smalltext">
        With contacts in almost all the major oil and gas basins globally, the team has the broad network of relationships necessary to successfully execute its strategy.
      </p>
    </div>
  </div>
</section>