---
layout: default
---

<div class="bg-white">
  <section class="bg-primary">
    <div class="background pos-a fixed-to-top h-100 z-depth-1">
      <img src="{{ site.url }}/uploads/about.jpg" class="h-100" alt="" />
      <div class="dark-cover">
      </div>
    </div>
    <div
      class="main-wrap min-height-100-vh wrapper-y pos-r z-depth-2 will-grow d-flx flex-dir-col al-i-fs j-c-c wrapper-x mx-auto">
      <div class="">
        <h1 class="mt-0 co-white fw-bold">
          About Us
        </h1>
        <p class="maxwidth-sm co-white py-1 smalltext">
          ARQ Development Corps, LLC is focused in capital growth in several sectors of the energy industry: exploration and production, energy service, and renewable technology.
        </p>
      </div>
    </div>
  </section>
  
  <section class="z-depth-3 pb-2h mb-2 pos-r bg-white">
    <div class="main-wrap mx-auto bg-darkprimary wrapper pos-r mt-2m">
      <div class="strategy bg-primary">
        <h2 class="m-0 fw-bold co-white">ARQ Strategy</h2>
      </div>
      <img src="{{ site.url }}/uploads/office.png" class="image-pad" alt="">
      <div class="list bg-white maxwidth-tb">
        <ul class="none">
          <li>Focus on single industry: Energy (Oil, Gas, Power, and Renewables)</li>
          <li>Provide both equity capital and strategic growth assistance</li>
          <li>Develop private companies into larger, more liquid public entities</li>
          <li>Increase the value of invested equity by multiple times over a 3 to 5 year time period through strategic acquisitions and internal growth initiatives.</li>
        </ul>
      </div>
    </div>
  </section>
  
  <section class="wrapper mb-2">
    <div class="py-2 main-wrap mx-auto mb-2">
      <h2 class="fw-bold mb-2">Our Services</h2>
      <div class="grid is-multi-col mostly-3 py-2 mb-2">
        <div>
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="#0F4A63" fill-opacity="0.44"/>
          </svg>
          <h3>Energy Service</h3>   
          <p>ARQ Development Corp, LLC identifies energy service companies with growth strategies in attractive market niches. We target disciplines in the oil field service sector to help energy producers worldwide and companies targeting attractive regional markets such as the Gulf of Guinea and frontier regions around Africa.</p>         
        </div>
        <div>
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="#0F4A63" fill-opacity="0.44"/>
          </svg>
          <h3>Exploration and Production</h3>   
          <p>ARQ Development Corp, LLC sources and invest growth equity and knowledge capital for oil and gas producing companies with an established reserve base and newly-formed companies using growth capital to develop new resources. Its portfolio interest is a focus on niche opportunities such as developing stranded oil and gas resources or developing smaller-scale opportunities in mature operating basins.</p>         
        </div>
        <div>
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="25" cy="25" r="25" fill="#0F4A63" fill-opacity="0.44"/>
          </svg>
          <h3>Renewable Energy Technology</h3>   
          <p>ARQ Development Corp, LLC is always seeking entrepreneurial technology companies that are developing high-impact technologies that offer measurable improvement in renewable sector.</p>         
        </div>
      </div>
    </div>
  </section>
</div>


<section class="z-depth-3 pb-2h pos-r">
  <div class="main-wrap mx-auto bg-darkprimary wrapper mt-2m tx-c">
    <h2 class="co-white">
      Reach Out to Us
    </h2>
    <p class="maxwidth-tb mx-auto smalltext co-white py-2">
      Email: info@arqdevcorp.com
    </p>
  </div>
</section>