---
layout: default
---

<section class="bg-primary">
    <div class="background pos-a fixed-to-top h-100 z-depth-1">
      <img src="{{ site.url }}{{ page.image }}" class="h-100" alt="" />
      <div class="dark-cover"></div>
    </div>
    <div
      class="main-wrap min-height-100-vh wrapper-y pos-r z-depth-2 will-grow d-flx flex-dir-col al-i-fs j-c-c wrapper-x mx-auto">
      <div class="">
        <h1 class="mt-0 co-white fw-bold">
          {{ page.title }}
        </h1>
        <p class="maxwidth-sm co-white py-1 smalltext">
            GLOBAL LOCATIONS
        </p>
        <p class="smalltext co-white">
            Abuja
            <span class="prefix suffix is-wider">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5.5" cy="5.5" r="5.5" fill="white"/>
                </svg>                    
            </span>
            Boston
            <span class="prefix suffix is-wider">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5.5" cy="5.5" r="5.5" fill="white"/>
                </svg>                    
            </span>
            Houston
        </p>
        <p class="smalltext co-white">
            London
            <span class="prefix suffix is-wider">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5.5" cy="5.5" r="5.5" fill="white"/>
                </svg>                    
            </span>
            Malabo
            <span class="prefix suffix is-wider">
                <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="5.5" cy="5.5" r="5.5" fill="white"/>
                </svg>                    
            </span>
            Port Harcourt
        </p>
      </div>
    </div>
  </section>
  
  
  <section class="z-depth-3 pb-2h pos-r">
    <div class="main-wrap mx-auto bg-darkprimary wrapper mt-2m grid is-multi-col mostly-2">
      <div>
        <h2 class="co-white">
            Reach Out to Us
        </h2>
        <p class="maxwidth-tb mx-auto smalltext co-white py-2">
            Email: info@arqdevcorp.com
        </p>
      </div>
      <div>
        <h2 class="co-white">
            Main Office
        </h2>
        <p class="maxwidth-tb mx-auto smalltext co-white py-2">
            1707 Post Oak Boulevard, Houston Texas, 77056
        </p>
      </div>
    </div>
  </section>