---
layout: default
---

<section class="bg-primary">
    <div class="background pos-a fixed-to-top h-100 z-depth-1">
      <img src="{{ site.url }}{{ page.image }}" class="h-100" alt="" />
      <div class="dark-cover"></div>
    </div>
    <div class="main-wrap min-height-100-vh pos-r z-depth-2 d-flx co-white flex-dir-col al-i-c j-c-c mx-auto">
        <div class="d-flx w-100 flex-dir-col wrapper fw-w j-c-sb">
            {% for item in site.mainnav %}
                    <div>
                        <a href="{{ item.url | prepend: site.url }}" class="co-gainsboro my-1 d-blk">
                            {{ item.section }}
                        </a>
                    </div>
            {% endfor %}
        </div>
    </div>
</section>
